@import 'https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
* {
  font-family: 'Roboto'
}
mat-icon {
  font-family: 'Material Icons'
}



$color0: #CAD2C5;
$color1: #84A98C;
$color2: #52796F;
$color3: #354F52;
$color4: #2F3E46;


